<h1 *ngIf="isEditMode" >Editing Book</h1>
<h1 *ngIf="!isEditMode" >Creating Book</h1>

<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Title</label> <br>
    <input type="text" placeholder="Title" formControlName="title"> <br>
  </div>
  <div>
    <label for="author">Author</label> <br>
    <input type="text" placeholder="Author" formControlName="author"> <br>
  </div>

  <input *ngIf="!isEditMode" type="submit" id="edit_book_button" value="Create Book">
  <input *ngIf="isEditMode" type="submit" id="edit_book_button" value="Update Book">
</form>

<a href="#" *ngIf="isEditMode" (click)="show()">Show</a>

<a href="#" (click)="back()">Back</a>
